fastapi
uvicorn[standard]
sqlalchemy
pymysql
cryptography>=45.0.0
alembic
pydantic
python-multipart
python-jose[cryptography]
passlib[bcrypt]
python-decouple
fastapi-pagination
clerk-backend-api
httpx
PyJWT 